type blank_screen, domain, coredomain;
type blank_screen_exec, exec_type, file_type, system_file_type;

init_daemon_domain(blank_screen)

hal_client_domain(blank_screen, hal_light)
