/dts-v1/;

/ {
  /* these name could be suffix compressed in dtb after compiled */
  longlonglonglonglonglonglonglonglonglonglonglongname: longlonglonglonglonglonglonglonglonglonglonglongname {};
  longlonglonglonglonglonglonglonglonglonglongname: longlonglonglonglonglonglonglonglonglonglongname {};
  longlonglonglonglonglonglonglonglonglongname: longlonglonglonglonglonglonglonglonglongname {};
  longlonglonglonglonglonglonglonglongname: longlonglonglonglonglonglonglonglongname {};
  longlonglonglonglonglonglonglongname: longlonglonglonglonglonglonglongname {};
  longlonglonglonglonglonglongname: longlonglonglonglonglonglongname {};
  longlonglonglonglonglongname: longlonglonglonglonglongname {};
  longlonglonglonglongname: longlonglonglonglongname {};
  longlonglonglongname: longlonglonglongname {};
  longlonglongname: longlonglongname {};
  longlongname: longlongname {};
  longname: longname {};
};

