# bootio command
type bootio, domain, coredomain;
type bootio_exec, exec_type, file_type;

init_daemon_domain(bootio)

# Allow persistent storage in /data/misc/bootio.
#allow bootio bootio_data_file:dir rw_dir_perms;
#allow bootio bootio_data_file:file create_file_perms;

# Read access to pseudo filesystems (for /proc/stats, proc/io/io, etc).
#r_dir_file(bootio, proc)
