# HwBinder IPC from client to server, and callbacks
binder_call(hal_nfc_client, hal_nfc_server)
binder_call(hal_nfc_server, hal_nfc_client)

add_hwservice(hal_nfc_server, hal_nfc_hwservice)
allow hal_nfc_client hal_nfc_hwservice:hwservice_manager find;

# Set NFC properties (used by bcm2079x HAL).
set_prop(hal_nfc, nfc_prop)

# NFC device access.
allow hal_nfc nfc_device:chr_file rw_file_perms;

# Data file accesses.
allow hal_nfc nfc_data_file:dir create_dir_perms;
allow hal_nfc nfc_data_file:{ file lnk_file fifo_file } create_file_perms;
