# HwBinder IPC from client to server, and callbacks
binder_call(hal_vehicle_client, hal_vehicle_server)
binder_call(hal_vehicle_server, hal_vehicle_client)


hal_attribute_hwservice(hal_vehicle, hal_vehicle_hwservice)
