# HwBinder IPC from client to server, and callbacks
binder_call(hal_bootctl_client, hal_bootctl_server)
binder_call(hal_bootctl_server, hal_bootctl_client)

hal_attribute_hwservice(hal_bootctl, hal_bootctl_hwservice)
