# HwBinder IPC from client to server, and callbacks
binder_call(hal_health_storage_client, hal_health_storage_server)
binder_call(hal_health_storage_server, hal_health_storage_client)

hal_attribute_hwservice(hal_health_storage, hal_health_storage_hwservice)
