<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.cells.systemswitch.secure"
    android:sharedUserId="android.uid.system" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/switcher1"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name=".view.SecureSwitchActivity"
            android:label="@string/app_name"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".TestIcon1"
            android:enabled="false"
            android:label="@string/app_name"
            android:icon="@drawable/switcher2"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:targetActivity=".view.SecureSwitchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>