typeattribute hwservicemanager coredomain;

init_daemon_domain(hwservicemanager)

add_hwservice(hwservicemanager, hidl_manager_hwservice)
add_hwservice(hwservicemanager, hidl_token_hwservice)
