# mdns daemon

typeattribute mdnsd coredomain;
typeattribute mdnsd mlstrustedsubject;

type mdnsd_exec, system_file_type, exec_type, file_type;
init_daemon_domain(mdnsd)

net_domain(mdnsd)

# Read from /proc/net
r_dir_file(mdnsd, proc_net_type)
