type ashmem_device_service,         app_api_service, service_manager_type;
type attention_service,             system_server_service, service_manager_type;
type dynamic_system_service,        system_api_service, system_server_service, service_manager_type;
type gsi_service,                   service_manager_type;
type incidentcompanion_service,     system_api_service, system_server_service, service_manager_type;
type stats_service,                 service_manager_type;
type statscompanion_service,        system_server_service, service_manager_type;
