# HwBinder IPC from clients into server, and callbacks
binder_call(hal_tv_cec_client, hal_tv_cec_server)
binder_call(hal_tv_cec_server, hal_tv_cec_client)

add_hwservice(hal_tv_cec_server, hal_tv_cec_hwservice)
allow hal_tv_cec_client hal_tv_cec_hwservice:hwservice_manager find;
