# HwBinder IPC from client to server
binder_call(hal_oemlock_client, hal_oemlock_server)

hal_attribute_hwservice(hal_oemlock, hal_oemlock_hwservice)
