# HwBinder IPC from client to server
binder_call(hal_authsecret_client, hal_authsecret_server)

add_hwservice(hal_authsecret_server, hal_authsecret_hwservice)
allow hal_authsecret_client hal_authsecret_hwservice:hwservice_manager find;
