binder_call(hal_broadcastradio_client, hal_broadcastradio_server)

add_hwservice(hal_broadcastradio_server, hal_broadcastradio_hwservice)
allow hal_broadcastradio_client hal_broadcastradio_hwservice:hwservice_manager find;
