# HwBinder IPC from client to server
binder_call(hal_memtrack_client, hal_memtrack_server)

add_hwservice(hal_memtrack_server, hal_memtrack_hwservice)
allow hal_memtrack_client hal_memtrack_hwservice:hwservice_manager find;
