# HwBinder IPC from client to server, and callbacks
binder_call(hal_secure_element_client, hal_secure_element_server)
binder_call(hal_secure_element_server, hal_secure_element_client)

add_hwservice(hal_secure_element_server, hal_secure_element_hwservice)
allow hal_secure_element_client hal_secure_element_hwservice:hwservice_manager find;
