# HwBinder IPC from client to server, and callbacks
binder_call(hal_power_client, hal_power_server)
binder_call(hal_power_server, hal_power_client)

add_hwservice(hal_power_server, hal_power_hwservice)
allow hal_power_client hal_power_hwservice:hwservice_manager find;
